:root {
    --color-back-link: rgb(194, 49, 49);
    --color-link: rgb(0, 0, 0);
    --color-main: #9b6060
/*base*/
}

html {
    
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    margin: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #fff5f3;
}

/*Header*/
header {
    background-color: #000000;
}
.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu {
    display: flex;
    font-family: 'Work Sans';
    justify-content: center;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Button*/
.button {
    background-color: var(--color-back-link);
    color:rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.button:hover {
    color: var(--color-link);
    background-color: transparent;
}

.button:active {
    background-color: dimgray;
}

/*link*/
.link {
    color: rgb(122, 8, 8);
    transition: color 0.3s;
}

.link:hover {
    color: var(--color-link)
}

/*hero-section*/
.hero-title { 
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 10px 10px 10px #ff0000;
    font-weight: 500;
    font-size: 150px;
    margin-bottom: 0px;
}
.hero-section {
padding: 150px 0;
background-image: linear-gradient(
    180deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.6) 58.46%,
        rgba(18, 18, 17, 0) 90.36%
);
background-image: url(./dito0kvh8y471.webp);
background-repeat:no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
}

.hero-title .accent {
    color: var(--color-main);
}

/*advantages*/
.about {
color: #ffffff;
display: flex;
margin: 0 auto;
margin-bottom: 40px;
margin-top: 30px;
gap: 20px;
justify-content: space-between;
font-size: 20px;
}

.about .advantage-link {
    color: var(--color-link);
}

/*section-title*/
.section-title {
    color: var(--color-main);
    position: relative;
}

.section-title {
    font-family: 'Roboto Mono';
}


.title {
    color: var(--color-main);
font-weight: 600;

}

/*navigation links*/
address .links-nav a {
    font-style: normal;
}

img[src="./ds3-cheat-logo.png"] {
    width: 100px;
}

.cheat-image {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 #fff5f3, -16px 16px 0 2px rgb(146, 3, 3);
    margin: 0 20px;
}

.offers li {
    margin-bottom: 40px;
}

.section-title::before {
position: absolute;
left: -50px;
bottom: 0;
}
.section-title::after {
position: absolute;
right: -50px;
}

.offers-section::before,
.offers-section::after {
    display: block;
    width: 300px;
    border: 2px solid rgb(95, 12, 12);
    content: '';
    margin: 0 auto;;
}
.card-box {

}

.offers {
    display: flex;
    padding: 30px;
}
.offer-item {
    flex-basis: calc(100% - 30px / 2);
    gap: 30px;
}
.offer-card {
    display: flex;
}

.offers-section {
    text-align: center;
}
.title-center {
    text-align: center;
}

.visually-hidden {
position: absolute;
left: -10000px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden;
}

.advantages-section {
    background-color: #adadad;
    padding: 0 16px;
}



.advantages-list {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.container {
    /* width: 100%; */
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 24px;
}


main {
    flex-grow: 1;
}

.trad {
    padding-top: 96px;
    margin-bottom: 80px;
}


.trad-container {
    display: flex;
    gap: 90px;
}

/* Formats section */
.format-card {
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(180deg,rgba(146, 54, 54, 0) 55.21%,rgba(104, 102, 102, 0.71) 72.92%,#000000 100%);
    height:200px;
    transition: transform 0.3s;
}
.format-card:hover {
    transform: scale(1.05);
}
.formats-list {
    display: flex;
    gap: 20px;
}
.formats-item {
    flex-basis: cals(100% -40px / 3);
    flex-wrap: wrap;
}
.formats-flex {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

footer {
    background-color: #807878;
    padding: 15px;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 20px;
    font-family: 'Roboto Mono';
}
.modal {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 600px;
    max-height: 880px;
    background-color: rgb(58, 64, 71);
    border-radius: 32px;
    padding: 120px;

}
.button-close {
    position: absolute;
    right: 40px;
    top: 40px;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

/* Form */
.form-label {
    display: block;
    padding: 5px;
}
.form-input {
    padding: 16px 16px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(9, 88, 88);
    background-color: transparent;
    font-size: 18px;
    color: rgb(55, 157, 252);
}
.form-field {
    margin-bottom: 32px;
}
.form-input:focus {
    border-color: #3080f8;
    outline: none;
}
.form-button {
    display: block;
    margin: 0 auto;
}
.form-policy {
    padding: 40px;
    display: block;
    text-align: center;
    font-size: 15px;
}

.order-version-form {
    font-family: 'Roboto Mono';
    border: rgb(0, 0, 0)
}





/* * {
    outline: 1px solid red;
} */