:root {
    --color-back-link: rgb(194, 49, 49);
    --color-link: rgb(0, 0, 0);
    --color-main: #9b6060
/*base*/
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}
/*Button*/
.button {
    background-color: var(--color-back-link);
    color:rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.button:hover {
    color: var(--color-link);
    background-color: transparent;
}

.button:active {
    background-color: dimgray;
}

/*link*/
.link {
    color: rgb(255, 255, 255);
}

.link:hover {
    color: var(--color-link)
}

/*hero-section*/
.hero-title {
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 3px 4px #ff0000;
    font-weight: 500;
    font-size: 50px;
    background-color: rgb(54, 0, 0);
}

.hero-title .accent {
    color: var(--color-main);
}

/*advantages*/
.advantages-list {
    color: #ff0000;
    background-color: rgb(105, 3, 3);
}

.advantages-list .advantage-link {
    color: var(--color-link);
}

/*section-title*/
.section-title {
    color: var(--color-main);
}
.section-title {
    font-family: 'Roboto Mono';
}


.title {
    color: var(--color-main);
font-weight: 600;

}

/*navigation links*/
address .links-nav a {
    font-style: normal;
}

img[src="./ds3-cheat-logo.png"] {
    width: 100px;
}

.offers li {
    line-height: 4px;
    margin-bottom: 40px;
}